<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet/less" type="text/css" href="../static/css/styles.less">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:300,500" />

<title>MangoTracko</title>
</html>

<body>
 
   <main>
    <div id="mango-header" class="header"></div>
    <div id="nav" ></div>
    <section class="container">
      <header>
        <h1 class="title-sub-page">Completed Mangoes</h1>
      </header>
      <div class="mangoes">
      
        <div class="row active-with-click">

        </div>
      </div>
    </section>

  </main>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/jquery.material-cards.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"></script>
<script type="module" src="../static/js/completedMango.js"></script>
<script src="../static/css/less/less.js" type="text/javascript"></script>
</body>

</html>