<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <div class="topnav" >
        
        <div id="myLinks" class="nav-test">
          <a href="index.html">MangoTracko</a>
          <a id="completedMango">Completed</a>
          <a id="ongoingMango">Ongoing</a>
          <a id="addMango">Add Mango</a>
          <a id="finishMango">Finish Mango</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <script src="../static/js/nav.js" type="text/javascript"></script>
</body>