<header>
    <a href="index.html" class="logo">MangoTracko
      <div class="bar"></div>
    </a>
    <div class="toggle"></div>
    <ul>
      <li><a id="completedMango" class="link">Completed
        <div class="bar"></div>
      </a></li>
      <li><a id="ongoingMango" class="link">Ongoing
        <div class="bar"></div>
      </a></li>
      <li><a id="addMango" class="link">Add Mango
        <div class="bar"></div>
      </a></li>
      <li><a id="finishMango" class="link">Finish Mango
        <div class="bar"></div>
      </a></li>
    </ul>
    <script src="../static/js/nav.js" type="text/javascript"></script>
</header>