<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet/less" type="text/css" href="../static/css/styles.less">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand:300,500" />
  <script src="../static/css/less/less.js" type="text/javascript"></script>
  <title>MangoTracko</title>
</head>

<body>
  <div class="header">
    <a href="index.html" class="logo">
      <div class="bar"></div>
      <div class="title">MangoTracko</div>
    </a>
    <div class="menu">
      <a href="index.html" class="link">
        <div class="bar"></div>
        <div class="title">Completed</div>
      </a>
      <a href="ongoingMango.html" class="link">
        <div class="title">Ongoing</div>
        <div class="bar"></div>
      </a>
      <a href="addMango.html" class="link">
        <div class="title">Add Mango</div>
        <div class="bar"></div>
      </a>
      <a href="finishMango.html" class="link">
        <div class="title">Finish Mango</div>
        <div class="bar"></div>
      </a>
    </div>
  </div>
  <!-- <div class="test" id="Header">
    <a href="index.html" class="logo">MangoTracko
      <div class="bar"></div>
    </a>
    <div class="toggle"></div>
    <ul>
      <li><a href="completedMango.html" class="link">Completed
        <div class="bar"></div>
      </a></li>
      <li><a href="ongoingMango.html" class="link">Ongoing
        <div class="bar"></div>
      </a></li>
      <li><a href="addMango.html" class="link">Add Mango
        <div class="bar"></div>
      </a></li>
      <li><a href="finishMango.html" class="link">Finish Mango
        <div class="bar"></div>
      </a></li>
    </ul>
  </div> -->
  <br></br>
  <header>
    <h1 class="title-sub-page">Completed Mangoes</h1>
  </header>
  <main>
    <br></br>
    <section class="container">
      <div class="mangoes">
        <div class="row active-with-click">

        </div>
      </div>
    </section>

  </main>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/jquery.material-cards.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"></script>
<script type="module" src="../static/js/completedMango.js"></script>
</body>

</html>