<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet/less" type="text/css" href="../static/css/styles.less">
    <script src="../static/css/less/less.js" type="text/javascript"></script>
    <title>Finish Mango</title>
</head>
<body>
  <div class="header">
    <a href="index.html" class="logo">
      <div class="bar"></div>
      <div class="title">MangoTracko</div>
  </a>
  <div class="menu">
    <a href="completedMango.html" class="link">
      <div class="title">Completed</div>
      <div class="bar"></div>
    </a>
    <a href="ongoingMango.html" class="link">
      <div class="title">Ongoing</div>
      <div class="bar"></div>
    </a>
    <a href="addMango.html" class="link">
      <div class="title">Add Mango</div>
      <div class="bar"></div>
    </a>
    <a href="finishMango.html" class="link">
      <div class="title">Finish Mango</div>
      <div class="bar"></div>
    </a>
  </div>
</div>
<br></br>
    <header>
        <h1 class="title-sub-page">Finish Mango</h1>
    </header>
    <main>
      <div class="error-message">
      </div>
        <form class="mango-form">
          <label for="title">Title</label>
          <input class="u-full-width" type="text" id="title" name="title">
          <label for="status">Status</label>
          <input class="u-full-width" type="text" id="status" name="status" value="COMPLETED" readonly>
          <label for="completedDateTime">Completion date and time</labek>
          <input class="u-full-width" type='datetime-local' id="completedDateTime" name="completedDateTime" />
          <label for="remarks">Remarks</label>
          <input class="u-full-width" type="text" id="remarks" name="remarks">
          <button type="submit" class="button-primary">Save</button>
        </form>
      </main>
      <div class="mango">
    
      </div>
      <div class="button-container">
        <!-- <button id="loadMoreButton" class="button-primary" style="visibility: hidden">Load More Mews</button> -->
        <!-- <p id="loadMore">Loading...</p> -->
      </div>
      <div class="loading" position:relative>
        <img id="progress" src="../static/img/loading.gif" alt=""/>
        <img id="success" class="fade-out" src="../static/img/tickmark.png" alt=""/>
      </div>
    <script type="module" src="../static/js/finishMango.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>